= form_for [@day, @day.workouts.build] do |f|
  = f.label :name
  = f.text_field :name
  = f.label :exercises
  = f.text_area :exercises
  = f.label :cal
  = f.number_field :cal
  = f.submit 'Save', class: 'button'