= form_for [@day, @day.meals.build] do |f|
  = f.label :name
  = f.text_field :name
  = f.label :foods
  = f.text_area :foods
  = f.label :cal
  = f.number_field :cal
  = f.submit 'Save', class: 'button'