!!!
%html{lang: 'en-US'}
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .alert-box.success.sticky-info.text-center
      %p
        Need more customization? Contact the
        %a{href: 'http://abraararique.com'} developer.
    %nav.top-bar{data: {topbar: true}, role: 'navigation'}
      %ul.title-area
        %li.name
          %h1= link_to 'Health Tracker', root_path
    = yield